{% extends "base.html" %}

{% block main %}
<div class="landing-container">
    <div class="left">
        <h1>Exam Max</h1>
        <p>Maximize student success through AI-enhanced exam preparation.</p>
        <button type="button" class="btn btn-primary" onclick="location.href='/review'">Review Mode</button>
        <button type="button" class="btn btn-success" onclick="location.href='/prep'">Exam Mode</button>
        <button type="button" class="btn btn-danger" onclick="location.href='/email'">Join Email List</button>
    </div>
    <div class="right">
        <img id="landing-img" src={% static "img/landing.png" %} alt="Landing page comic">
    </div>
</div>

{% endblock %}