{% extends "base.html" %}

{% block main %}
<div class="container exam-container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>This is prep componenet</h1>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            
            <!--Display questions-->
            {% if questions %}
            <br><hr>
            <h1>Questions:</h1>
            <ul>
                {% for question in questions %}
                <li>{{ question }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <!--Display answers to questions-->
            {% if answers %}
            <br><hr>
            <h1>Answers:</h1>
            <ul>
                {% for answer in answers %}
                <li>{{ answer }}</li>
                {% endfor %}
            </ul>
            {% endif%}
        </div>
    </div>
</div>

{% endblock %}
